* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-moz-selection {
  background-color: #fbdc4d;
}
::selection {
  background-color: #fbdc4d;
}
:focus {
  outline: none;
  border: dotted;
  border-color: #ea736d;
}
:root {
  --undrln: #fbdc4d;
  --btnBg: #fbdc4d;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
#overlay.active {
  display: block;
}
#page-nav {
  position: fixed;
  right: 35px;
  top: 45%;
  z-index: 100;
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
  }
}
#page-nav li {
  width: 14px;
  height: 14px;
  background-color: #89b4cb;
  border-radius: 50%;
  margin-bottom: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li a:active,
#page-nav li a:focus {
  border: none;
}
#page-nav li.active {
  background-color: #ea736d;
}
.fix-menu.active {
  position: fixed;
  height: 80px;
  padding-top: 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.45);
          box-shadow: 0 10px 35px rgba(0, 0, 0, 0.45);
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color: #000;
}
body.active {
  overflow: hidden;
}
#backTop a {
  display: none;
  color: #ea736d;
  position: fixed;
  bottom: 40px;
  right: 60px;
  font-size: 40px;
}
#backTop a:hover {
  color: #d4423b;
}
#backTop a:focus {
  border: none;
}
@media (min-width: 768px) {
  #backTop a {
    display: block;
  }
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
  }
}
.social-icons a {
  display: inline-block;
  margin-right: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-github:hover,
.fa-github:active {
  color: #6cc644;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-telegram:hover,
.fa-telegram:active {
  color: #039be5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-vk:hover,
.fa-vk:active {
  color: #45668e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.social-icons__item {
  display: block;
  margin-right: 20px;
}
.social-icons__item:last-child {
  margin-right: 0;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 32px;
  }
}
.title-5 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-5 {
    font-size: 26px;
  }
}
.page-link a:hover {
  color: #59b2ea;
  border-bottom: 1px solid #59b2ea;
  border-color: #59b2ea;
}
.page-link a:active {
  color: #eb736e;
  border-bottom: 1px solid #eb736e;
  border-color: #eb736e;
}
.header {
  padding: 20px 0 100px;
  background-color: #FFF;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding: 35px 0 80px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 75px 0 237px;
    background-image: url(../img/bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.header-nav {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 35px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header-nav {
    margin-bottom: 70px;
    padding-left: 30px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    margin-bottom: 146px;
    padding: 0 10px;
  }
}
@media (min-width: 1440px) {
  .header-nav {
    margin-bottom: 146px;
    padding: 0;
  }
}
.header-logo {
  position: relative;
  display: inline-block;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
}
.header-logo:after {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 10px;
  left: -5px;
  right: -5px;
  background-color: var(--undrln);
  z-index: -1;
}
.header-logo:hover:after {
  background-color: #ea736d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-social {
  display: none;
}
@media (min-width: 1200px) {
  .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-center {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .content {
    max-width: 810px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .content {
    max-width: unset;
    margin: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.content-photo {
  position: relative;
  margin-bottom: 50px;
}
.content-photo:after {
  display: none;
  content: "";
  position: absolute;
  top: 35%;
  left: 20%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: -1;
}
@media (min-width: 350px) {
  .content-photo {
    max-width: 340px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .content-photo {
    padding: 0 25px;
    margin: 0;
    z-index: 2;
  }
  .content-photo:after {
    display: block;
    top: 45px;
    left: 65px;
  }
}
@media (min-width: 1200px) {
  .content-photo {
    max-width: unset;
    width: 455px;
    padding: 0;
  }
  .content-photo:after {
    top: 35%;
    left: 20%;
  }
}
@media (min-width: 768px) {
  .content-info {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .content-info {
    width: 630px;
  }
}
.content-info__title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .content-info__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .content-info__title {
    margin-bottom: 16px;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
}
.line-bottom:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 8px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom:after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .line-bottom:after {
    bottom: 22px;
  }
}
.content-info__desc {
  margin-bottom: 47px;
  font-size: 18px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .content-info__desc {
    font-size: 24px;
  }
}
.header-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-buttons {
    display: block;
  }
}
.button-meet {
  border-radius: 35px;
  border: none;
  padding: 15px 44px;
  margin-right: 12px;
  background-color: var(--btnBg);
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-meet:hover {
  background-color: #ffd200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-meet:active {
  background-color: #e1bc10;
}
.button-contacts {
  height: 65px;
  border-radius: 35px;
  border: 4px solid #464646;
  background-color: transparent;
  padding: 11px 37px;
  font-size: 22px;
  font-weight: 700;
  color: #464646;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-contacts:hover {
  color: #797979;
  border-color: #797979;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-contacts:active {
  color: #181818;
  border-color: #181818;
}
.content-bg-image {
  max-width: 1600px;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin-top: -25px;
  margin-bottom: 60px;
}
@media (min-width: 425px) {
  .content-bg-image {
    margin-top: -55px;
    margin-bottom: 20px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 540px) {
  .content-bg-image {
    margin-top: -85px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .content-bg-image {
    margin-top: -95px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .content-bg-image {
    margin-top: -60px;
    margin-bottom: 85px;
  }
}
@media (min-width: 768px) {
  .profile-about {
    max-width: 810px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .profile-about {
    max-width: unset;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .profile-about-skills {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .profile-about-skills {
    width: 650px;
    padding-top: 120px;
    margin-top: -120px;
  }
}
.profile-about-title {
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .profile-about-title {
    margin-bottom: 36px;
  }
}
.my-skills {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .my-skills {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .my-skills {
    font-size: 24px;
    padding-left: 28px;
    margin-bottom: 32px;
  }
}
.my-skills-item {
  position: relative;
  padding-bottom: 15px;
}
.my-skills-item:before {
  display: none;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  top: 30%;
  left: -30px;
  background-color: #444444;
}
@media (min-width: 1200px) {
  .my-skills-item {
    padding-bottom: 11px;
    font-size: 24px;
    line-height: 1.2;
  }
  .my-skills-item:before {
    display: block;
  }
}
.my-works {
  display: none;
  width: 275px;
  height: 64px;
  padding: 15px 39px;
  border-radius: 30px;
  border: none;
  background-color: var(--btnBg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  font-weight: 700;
}
.my-works:hover {
  background-color: #ffd200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.my-works:active {
  background-color: #e1bc10;
}
@media (min-width: 1200px) {
  .my-works {
    display: block;
  }
}
.my-works a:focus {
  border: none;
}
@media (min-width: 768px) {
  .profile-contacts {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts {
    width: 360px;
  }
}
.profile-contacts-title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .profile-contacts-title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-title {
    margin-bottom: 38px;
  }
}
.profile-contacts-icons {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .profile-contacts-icons {
    margin-bottom: 25px;
  }
}
.profile-contacts-email {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .profile-contacts-email {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-email {
    font-size: 24px;
  }
}
.profile-contacts-email a {
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile-contacts-email a:hover {
  color: #59b2ea;
  border-color: #59b2ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile-contacts-email a:active {
  color: #eb736e;
  border-color: #eb736e;
}
.toggle-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  cursor: pointer;
  z-index: 12;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.toggle-menu.active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.toggle-menu span {
  display: block;
  position: relative;
  width: 40px;
  height: 6px;
  background-color: #000;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.toggle-menu span:before,
.toggle-menu span:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #000;
  left: 0;
}
.toggle-menu span:before {
  top: -10px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.toggle-menu span:after {
  bottom: -10px;
  -webkit-transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.header-menu__logo {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .header-menu__logo {
    display: none;
  }
}
.header-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 320px;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-menu {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: unset;
    width: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
  }
}
.header-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 1200px) {
  .header-menu__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
}
.header-menu__links a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid black;
}
@media (min-width: 1200px) {
  .header-menu__links a {
    width: auto;
    border-bottom: none;
  }
}
.header-menu__link-item {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.header-menu__link-item:last-child {
  margin-bottom: 0;
}
.header-menu__link-item:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--undrln);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
}
.header-menu__link-item:active {
  border: none;
  color: #59b2ea;
}
@media (min-width: 1200px) {
  .header-menu__link-item {
    margin-right: 80px;
    margin-bottom: 0;
    border-bottom: none;
  }
  .header-menu__link-item:last-child {
    margin-right: 0;
  }
  .header-menu__link-item:after {
    display: block;
  }
  .header-menu__link-item:hover:after {
    width: 100%;
  }
}
.header-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .header-menu__contacts {
    display: none;
  }
}
.header-menu__email a {
  font-size: 18px;
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-menu__email a:hover {
  color: #59b2ea;
  border-color: #59b2ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-menu__email a:active {
  color: #eb736e;
  border-color: #eb736e;
}
@media (min-width: 1200px) {
  .header-menu__email a {
    display: none;
  }
}
.section-portfolio {
  padding: 40px 0 90px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding: 80px 0 75px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding: 108px 0 57px;
  }
}
.portfolio-title {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .portfolio-title {
    max-width: 770px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .portfolio-title {
    max-width: unset;
    margin: 0;
    margin-bottom: 58px;
  }
}
.line-bottom-portfolio {
  position: relative;
  z-index: 2;
}
.line-bottom-portfolio:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 7px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-portfolio:after {
    bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-portfolio:after {
    bottom: 14px;
  }
}
.portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 540px) {
  .portfolio-projects {
    max-width: 500px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .portfolio-projects {
    max-width: 770px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .portfolio-projects {
    max-width: unset;
    margin: 0;
  }
}
.portfolio-works {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .portfolio-works {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works {
    margin-bottom: 69px;
  }
}
@media (min-width: 768px) {
  .big-card {
    width: 50%;
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .big-card {
    max-width: 560px;
  }
}
.portfolio-works__img {
  display: block;
  position: relative;
  margin-bottom: 15px;
  background-color: #fbdc4d;
  overflow: hidden;
}
.portfolio-works__img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(251, 220, 77, 0.6);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-works__img:hover:before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-works__img:hover .more-btn {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .portfolio-works__img {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__img {
    margin-bottom: 25px;
  }
}
.more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  border: none;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FFF;
  font-size: 22px;
  font-weight: 700;
  color: #ea736d;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.more-btn:hover {
  color: #FFF;
  background-color: #ea736d;
}
.more-btn:active {
  color: #FFF;
  background-color: #d4423b;
}
.portfolio-works__title {
  display: block;
  margin-bottom: 10px;
}
.portfolio-works__title span:hover,
.portfolio-works__title span:active {
  border-bottom: 1px solid #ea736d;
  color: #ea736d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .portfolio-works__title {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__title {
    margin-bottom: 9px;
  }
}
.portfolio-works__desc {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .portfolio-works__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__desc {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .big-card__title .title-5 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__info .big-card__desc {
    font-size: 22px;
  }
}
.section-work {
  padding-top: 45px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .section-work {
    padding: 85px 0 85px;
  }
}
@media (min-width: 1200px) {
  .section-work {
    padding: 137px 0 101px;
    background-image: url(../img/work-bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.content-work-title {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .content-work-title {
    margin-bottom: 140px;
  }
}
@media (min-width: 1200px) {
  .content-work-title {
    margin-bottom: 154px;
  }
}
.line-bottom-work {
  position: relative;
  z-index: 2;
  font-size: 38px;
}
.line-bottom-work:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 6px;
  background-color: var(--undrln);
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .line-bottom-work {
    font-size: 52px;
  }
  .line-bottom-work:after {
    bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-work {
    font-size: 64px;
  }
  .line-bottom-work:after {
    bottom: 15px;
  }
}
.cotnent-column {
  max-width: 1005px;
  margin: 0 auto;
}
.content-work-item {
  position: relative;
  padding-left: 105px;
  height: 230px;
  margin-bottom: 22px;
}
.content-work-item:first-child {
  height: 165px;
}
.content-work-item:after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #e0eef4;
  top: 95px;
  bottom: 0;
  left: 37px;
}
.content-work-item:last-child:after {
  display: none;
}
.content-work-item:first-child:before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #e0eef4;
  top: -80px;
  right: 0;
  height: 60px;
  display: none;
}
.content-work-item:hover {
  cursor: pointer;
}
.content-work-item:hover .line-bottom-title5:after {
  background-color: #ea736d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .content-work-item {
    width: 50%;
    height: 205px;
    padding-top: 22px;
  }
  .content-work-item:nth-child(even) {
    margin-left: auto;
    padding-left: 87px;
  }
  .content-work-item:nth-child(even) .work-icon {
    left: -37px;
  }
  .content-work-item:nth-child(even):after {
    left: -4px;
  }
  .content-work-item:nth-child(odd) {
    text-align: right;
    padding-left: 0;
    padding-right: 76px;
  }
  .content-work-item:nth-child(odd):after {
    left: auto;
    right: 0;
  }
  .content-work-item:nth-child(odd) .work-icon {
    left: auto;
    right: -37px;
  }
  .content-work-item:first-child {
    height: 205px;
  }
  .content-work-item:first-child:before {
    display: block;
  }
}
.work-desc__title {
  margin-bottom: 7px;
}
.work-desc__title .title-5 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .work-desc__title .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .work-desc__title .title-5 {
    font-size: 26px;
  }
}
.line-bottom-title5 {
  position: relative;
  z-index: 2;
}
.line-bottom-title5:after {
  display: none;
  content: "";
  position: absolute;
  height: 6px;
  left: -2px;
  right: -2px;
  bottom: 3px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom-title5:after {
    display: block;
    bottom: 5px;
  }
}
.work-icon {
  width: 74px;
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work-icon svg {
  width: 40px;
  height: 40px;
}
.work-desc__info {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .work-desc__info {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .work-desc__info {
    font-size: 18px;
  }
}
.work-desc__time {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .work-desc__time {
    font-size: 18px;
  }
}
.section-contacts {
  padding: 55px 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-contacts {
    padding: 80px 0 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding: 136px 0 149px;
    background-image: url(../img/contacts-bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.contacts-title {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts-title {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .contacts-title {
    margin-bottom: 63px;
  }
}
.line-bottom-contacts {
  position: relative;
  z-index: 2;
}
.line-bottom-contacts:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 7px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-contacts:after {
    bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-contacts:after {
    bottom: 13px;
  }
}
.contacts-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts-row {
    max-width: 810px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .contacts-row {
    max-width: unset;
    margin: 0;
  }
}
.contacts-bg-img {
  display: none;
  width: 450px;
  position: absolute;
  top: 0;
  left: -350px;
}
@media (min-width: 1200px) {
  .contacts-bg-img {
    display: block;
  }
}
.contacts-info {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts-info {
    width: 300px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contacts-info {
    width: 505px;
  }
}
.contacts-desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts-desc {
    margin-bottom: 44px;
    font-size: 18px;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .contacts-desc {
    font-size: 20px;
    padding-top: 25px;
  }
}
.contacts-desc__list {
  margin-bottom: 48px;
}
.contacts-desc__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .contacts-desc__list-item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-desc__list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
  }
}
.contacts-desc__list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .contacts-desc__list-title {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.contacts-desc__list-info {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: #96969d;
}
@media (min-width: 1200px) {
  .contacts-desc__list-info {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    font-size: 20px;
  }
}
.contacts-desc__list-info a {
  border-bottom: 1px solid #68b7ea;
  color: #68b7ea;
}
.contacts-desc__list-info a:hover {
  color: #73d0fc;
  border-bottom-color: #73d0fc;
}
.contacts-form {
  max-width: 400px;
}
@media (min-width: 768px) {
  .contacts-form {
    max-width: unset;
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    width: 533px;
    padding-right: 17px;
  }
}
.form-text {
  margin: 0 auto;
  padding: 60px 15px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 28px 35px 0px #c2dbeb;
          box-shadow: 0px 28px 35px 0px #c2dbeb;
}
@media (min-width: 768px) {
  .form-text {
    padding: 65px 25px 40px;
  }
}
@media (min-width: 1200px) {
  .form-text {
    padding: 80px 60px 45px;
    -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
            box-shadow: 0px 28px 100px 0px #c2dbeb;
  }
}
.contact-form__item {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contact-form__item {
    margin-bottom: 44px;
  }
}
@media (min-width: 1200px) {
  .contact-form__item {
    margin-bottom: 54px;
  }
}
textarea,
input {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid #eaeaea;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  -webkit-transition: border-color 0.7s;
  transition: border-color 0.7s;
}
textarea:focus,
input:focus {
  border: none;
  border-bottom: 2px solid #ea736d;
}
textarea {
  height: 110px;
  padding: 5px;
  resize: none;
}
.fake-placeholder {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fake-placeholder.active {
  top: -22px;
  font-size: 16px;
  font-weight: 700;
  color: #ed9626;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.error {
  font-size: 14px;
  color: #ea736d;
}
.contact-form__btn input {
  height: 55px;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--btnBg);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  font-weight: 700;
}
.contact-form__btn input:hover {
  background-color: #ffd200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-form__btn input:active {
  background-color: #e1bc10;
}
@media (min-width: 1200px) {
  .contact-form__btn input {
    width: auto;
    height: 62px;
  }
}
.footer {
  padding: 24px 0 41px;
  background-color: #333333;
}
.footer-title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 11px;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer-text a {
  color: #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-text a:hover,
.footer-text a:active {
  color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=main.css.map */