* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --undrln: #fbdc4d;
  --btnBg: #fbdc4d;
}
html,
body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
  }
}
.fa-github:hover,
.fa-github:active {
  color: #6cc644;
}
.fa-telegram:hover,
.fa-telegram:active {
  color: #039be5;
}
.fa-vk:hover,
.fa-vk:active {
  color: #45668e;
}
.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 32px;
  }
}
.title-5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-5 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .title-5 {
    font-size: 26px;
  }
}
.header {
  padding: 20px 0 100px;
  background-color: #FFF;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding: 35px 0 85px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 75px 0 235px;
    background-image: url(../img/bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.header-nav {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header-nav {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    margin-bottom: 150px;
    padding: 0;
  }
}
.header-nav-logo {
  position: relative;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
}
.header-nav-logo:after {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 10px;
  left: -5px;
  right: -5px;
  background-color: var(--undrln);
  z-index: -1;
}
.header-nav-link {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav-link {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }
}
.header-nav-link a {
  position: relative;
  margin-right: 80px;
  z-index: 2;
}
.header-nav-link a:last-child {
  margin-right: 0;
}
.header-nav-link a:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--undrln);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header-nav-link a:hover:after {
  width: 100%;
}
.header-nav-icons {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.icons-item {
  margin-right: 20px;
}
.icons-item:last-child {
  margin-right: 0;
}
.icons-item:hover {
  color: blue;
}
.header-center {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content-photo {
  position: relative;
  margin-bottom: 50px;
}
.content-photo:after {
  display: none;
  content: "";
  position: absolute;
  top: 35%;
  left: 20%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: -1;
}
@media (min-width: 768px) {
  .content-photo {
    width: 290px;
    margin-bottom: 0;
    z-index: 2;
  }
  .content-photo:after {
    display: block;
    top: 45px;
    left: 65px;
  }
}
@media (min-width: 1200px) {
  .content-photo {
    width: 455px;
  }
  .content-photo:after {
    top: 35%;
    left: 20%;
  }
}
@media (min-width: 768px) {
  .content-info {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .content-info {
    width: 630px;
  }
}
.content-info__title {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .content-info__title {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .content-info__title {
    margin-bottom: 10px;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
}
.line-bottom:after {
  content: "";
  position: absolute;
  height: 10px;
  left: -5px;
  right: -5px;
  bottom: 8px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom:after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .line-bottom:after {
    bottom: 22px;
  }
}
.content-info__desc {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .content-info__desc {
    font-size: 24px;
  }
}
.header-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-buttons {
    display: block;
  }
}
.button-meet {
  height: 65px;
  border-radius: 35px;
  border: none;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 20px;
  background-color: var(--btnBg);
  font-size: 22px;
  font-weight: 700;
}
.button-meet:hover {
  background-color: #ffd200;
}
.button-meet:active {
  background-color: #e1bc10;
}
.button-contacts {
  height: 65px;
  border-radius: 35px;
  border: 4px solid #464646;
  background-color: transparent;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 22px;
  font-weight: 700;
  color: #464646;
}
.button-contacts:hover {
  color: #797979;
  border-color: #797979;
}
.button-contacts:active {
  color: #181818;
  border-color: #181818;
}
.content-bg-image {
  max-width: 1600px;
  margin-top: -45px;
}
@media (min-width: 768px) {
  .content-bg-image {
    margin-top: -45px;
  }
}
@media (min-width: 1200px) {
  .content-bg-image {
    margin-top: -117px;
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .profile-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .profile-about-skills {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .profile-about-skills {
    width: 650px;
  }
}
.profile-about-title {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .profile-about-title {
    margin-bottom: 40px;
  }
}
.my-skills {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .my-skills {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .my-skills {
    font-size: 24px;
    padding-left: 35px;
    margin-bottom: 45px;
  }
}
.my-skills-item {
  position: relative;
  padding-bottom: 15px;
}
.my-skills-item:before {
  display: none;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  top: 30%;
  left: -30px;
  background-color: #444444;
}
@media (min-width: 1200px) {
  .my-skills-item {
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 1.2;
  }
  .my-skills-item:before {
    display: block;
  }
}
.main-button {
  display: none;
  height: 60px;
  padding: 18px 45px;
  border-radius: 30px;
  border: none;
  background-color: var(--btnBg);
  font-size: 22px;
  font-weight: 700;
}
.main-button:hover {
  background-color: #ffd200;
}
.main-button:active {
  background-color: #e1bc10;
}
@media (min-width: 1200px) {
  .main-button {
    display: block;
  }
}
@media (min-width: 768px) {
  .profile-contacts {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts {
    width: 360px;
  }
}
.profile-contacts-title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .profile-contacts-title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-title {
    margin-bottom: 45px;
  }
}
.profile-contacts-icons {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .profile-contacts-icons {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-icons {
    margin-bottom: 35px;
  }
}
.profile-contacts-icons a {
  display: inline-block;
  margin-right: 27px;
}
.profile-contacts-icons a:last-child {
  margin-right: 0;
}
.profile-contacts-email {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .profile-contacts-email {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-email {
    font-size: 24px;
  }
}
.profile-contacts-email a {
  border-bottom: 1px solid #000;
}
.profile-contacts-email a:hover {
  color: #59b2ea;
  border-color: #59b2ea;
}
.profile-contacts-email a:active {
  color: #eb736e;
  border-color: #eb736e;
}
.section-portfolio {
  padding: 60px 0 95px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding: 80px 0 80px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding: 115px 0 125px;
  }
}
.portfolio-title {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .portfolio-title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-title {
    margin-bottom: 65px;
  }
}
.line-bottom-portfolio {
  position: relative;
  z-index: 2;
}
.line-bottom-portfolio:after {
  content: "";
  position: absolute;
  height: 10px;
  left: -5px;
  right: -5px;
  bottom: 11px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-portfolio:after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-portfolio:after {
    bottom: 14px;
  }
}
.portfolio-nav {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-nav {
    display: block;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .portfolio-nav {
    margin-bottom: 50px;
  }
}
.portfolio-nav-link {
  display: none;
  font-weight: 800;
  line-height: 1.2;
  color: #8fa5ae;
  margin-right: 55px;
  border: none;
  background-color: transparent;
}
.portfolio-nav-link:last-child {
  margin-right: 0;
}
.portfolio-nav-link:hover,
.portfolio-nav-link:focus,
.portfolio-nav-link:active {
  color: #000;
}
@media (min-width: 768px) {
  .portfolio-nav-link {
    display: inline;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio-nav-link {
    font-size: 28px;
  }
}
.portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .portfolio-projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .portfolio-projects {
    margin-bottom: 40px;
  }
}
.portfolio-item {
  width: 560px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .portfolio-item {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item {
    margin-bottom: 0;
  }
}
.portfolio-item-img {
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .portfolio-item-img {
    margin-bottom: 20px;
  }
}
.portfolio-item-title {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .portfolio-item-title {
    margin-bottom: 10px;
  }
}
.portfolio-item-desc {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .portfolio-item-desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item-desc {
    font-size: 22px;
  }
}
.bottom-row-title .title-4 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .bottom-row-title .title-4 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .bottom-row-title .title-4 {
    font-size: 26px;
  }
}
.bottom-row-desc {
  font-size: 16px;
}
@media (min-width: 768px) {
  .bottom-row-desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .bottom-row-desc {
    font-size: 20px;
  }
}
.section-work {
  padding: 150px 0;
  background-color: #fff;
}
.content-work {
  max-width: 1005px;
  margin: 0 auto;
}
.content-work-title {
  text-align: center;
  margin-bottom: 130px;
}
.line-bottom-work {
  position: relative;
  z-index: 2;
}
.line-bottom-work:after {
  content: "";
  position: absolute;
  height: 10px;
  left: -5px;
  right: -5px;
  bottom: 11px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-work:after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-work:after {
    bottom: 14px;
  }
}
.cotnent-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.content-work-item {
  position: relative;
  width: 631px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}
.content-work-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.work-desc__title {
  margin-bottom: 15px;
}
.line-bottom-title5 {
  position: relative;
  z-index: 2;
}
.line-bottom-title5:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -2px;
  right: -2px;
  bottom: 2px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-title5:after {
    bottom: 3px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-title5:after {
    bottom: 4px;
  }
}
.work-icon {
  width: 75px;
  height: 75px;
  border-radius: 28px;
  margin-right: 35px;
  margin-left: 35px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work-item-even:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 110px;
  top: -67%;
  left: 19%;
  background-color: #e1eef4;
}
.work-item-odd:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 110px;
  top: -67%;
  right: 21%;
  background-color: #e1eef4;
}
.work-icon-link svg {
  width: 40px;
  height: 40px;
}
.work-desc {
  width: 375px;
  padding-top: 20px;
}
.work-desc__info {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.work-desc__time {
  font-size: 18px;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */