.none {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
::-moz-selection {
  background-color: #fbdc4d;
}
::selection {
  background-color: #fbdc4d;
}
:focus {
  outline: none;
  border: dotted;
  border-color: #ea736d;
}
html {
  scroll-behavior: smooth;
}
:root {
  --undrln: #fbdc4d;
  --btnBg: #fbdc4d;
}
html,
body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color: #000;
}
#backTop a {
  display: none;
  color: #ea736d;
  position: fixed;
  bottom: 40px;
  right: 60px;
  font-size: 40px;
}
#backTop a:hover {
  color: #d4423b;
}
#backTop a:focus {
  border: none;
}
@media (min-width: 768px) {
  #backTop a {
    display: block;
  }
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
  }
}
.social-icons a {
  display: inline-block;
  margin-right: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-github:hover,
.fa-github:active {
  color: #6cc644;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-telegram:hover,
.fa-telegram:active {
  color: #039be5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-vk:hover,
.fa-vk:active {
  color: #45668e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fa-facebook:hover,
.fa-facebook:active {
  color: #3b5998;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 32px;
  }
}
.title-5 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-5 {
    font-size: 26px;
  }
}
.page-link a:hover {
  color: #59b2ea;
  border-bottom: 1px solid #59b2ea;
  border-color: #59b2ea;
}
.page-link a:active {
  color: #eb736e;
  border-bottom: 1px solid #eb736e;
  border-color: #eb736e;
}
.header {
  padding: 20px 0 100px;
  background-color: #FFF;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding: 35px 0 80px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 75px 0 237px;
    background-image: url(../img/bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.header-nav {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header-nav {
    margin-bottom: 70px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    margin-bottom: 146px;
    padding: 0;
  }
}
.header-nav-logo {
  position: relative;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
}
.header-nav-logo:after {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 10px;
  left: -5px;
  right: -5px;
  background-color: var(--undrln);
  z-index: -1;
}
.header-nav-logo:hover:after {
  background-color: #ea736d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-nav-link {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav-link {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }
}
.header-nav-link a {
  position: relative;
  margin-right: 80px;
  z-index: 2;
}
.header-nav-link a:last-child {
  margin-right: 0;
}
.header-nav-link a:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--undrln);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header-nav-link a:hover:after {
  width: 100%;
}
.header-nav-icons {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.icons-item {
  margin-right: 20px;
}
.icons-item:last-child {
  margin-right: 0;
}
.header-center {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.content-photo {
  position: relative;
  margin-bottom: 50px;
}
.content-photo:after {
  display: none;
  content: "";
  position: absolute;
  top: 35%;
  left: 20%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: -1;
}
@media (min-width: 768px) {
  .content-photo {
    width: 340px;
    padding: 0 25px;
    margin-bottom: 0;
    z-index: 2;
  }
  .content-photo:after {
    display: block;
    top: 45px;
    left: 65px;
  }
}
@media (min-width: 1200px) {
  .content-photo {
    width: 455px;
  }
  .content-photo:after {
    top: 35%;
    left: 20%;
  }
}
@media (min-width: 768px) {
  .content-info {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .content-info {
    width: 630px;
  }
}
.content-info__title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .content-info__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .content-info__title {
    margin-bottom: 16px;
  }
}
.line-bottom {
  position: relative;
  z-index: 2;
}
.line-bottom:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 8px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom:after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .line-bottom:after {
    bottom: 22px;
  }
}
.content-info__desc {
  margin-bottom: 47px;
  font-size: 18px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .content-info__desc {
    font-size: 24px;
  }
}
.header-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-buttons {
    display: block;
  }
}
.button-meet {
  border-radius: 35px;
  border: none;
  padding: 15px 44px;
  margin-right: 12px;
  background-color: var(--btnBg);
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-meet:hover {
  background-color: #ffd200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-meet:active {
  background-color: #e1bc10;
}
.button-contacts {
  height: 65px;
  border-radius: 35px;
  border: 4px solid #464646;
  background-color: transparent;
  padding: 11px 37px;
  font-size: 22px;
  font-weight: 700;
  color: #464646;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-contacts:hover {
  color: #797979;
  border-color: #797979;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-contacts:active {
  color: #181818;
  border-color: #181818;
}
.content-bg-image {
  max-width: 1600px;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  margin-top: -25px;
  margin-bottom: 60px;
}
@media (min-width: 425px) {
  .content-bg-image {
    margin-top: -55px;
    margin-bottom: 20px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 540px) {
  .content-bg-image {
    margin-top: -85px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .content-bg-image {
    margin-top: -95px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .content-bg-image {
    margin-top: -99px;
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .profile-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .profile-about-skills {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .profile-about-skills {
    width: 650px;
    padding-top: 120px;
    margin-top: -120px;
  }
}
.profile-about-title {
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .profile-about-title {
    margin-bottom: 36px;
  }
}
.my-skills {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .my-skills {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .my-skills {
    font-size: 24px;
    padding-left: 28px;
    margin-bottom: 34px;
  }
}
.my-skills-item {
  position: relative;
  padding-bottom: 15px;
}
.my-skills-item:before {
  display: none;
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  top: 30%;
  left: -30px;
  background-color: #444444;
}
@media (min-width: 1200px) {
  .my-skills-item {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 1.2;
  }
  .my-skills-item:before {
    display: block;
  }
}
.my-works {
  display: none;
  width: 275px;
  height: 64px;
  padding: 15px 39px;
  border-radius: 30px;
  border: none;
  background-color: var(--btnBg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  font-weight: 700;
}
.my-works:hover {
  background-color: #ffd200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.my-works:active {
  background-color: #e1bc10;
}
@media (min-width: 1200px) {
  .my-works {
    display: block;
  }
}
@media (min-width: 768px) {
  .profile-contacts {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts {
    width: 360px;
  }
}
.profile-contacts-title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .profile-contacts-title {
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-title {
    margin-bottom: 38px;
  }
}
.profile-contacts-icons {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .profile-contacts-icons {
    margin-bottom: 25px;
  }
}
.profile-contacts-email {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .profile-contacts-email {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .profile-contacts-email {
    font-size: 24px;
  }
}
.profile-contacts-email a {
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile-contacts-email a:hover {
  color: #59b2ea;
  border-color: #59b2ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile-contacts-email a:active {
  color: #eb736e;
  border-color: #eb736e;
}
.section-portfolio {
  padding: 40px 0 90px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding: 80px 0 75px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding: 108px 0 26px;
  }
}
.portfolio-title {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .portfolio-title {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .portfolio-title {
    margin-bottom: 58px;
  }
}
.line-bottom-portfolio {
  position: relative;
  z-index: 2;
}
.line-bottom-portfolio:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 7px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-portfolio:after {
    bottom: 11px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-portfolio:after {
    bottom: 14px;
  }
}
.portfolio-nav {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-nav {
    display: block;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .portfolio-nav {
    margin-bottom: 47px;
  }
}
.portfolio-nav-link {
  display: none;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: #8fa5ae;
  border: none;
  background-color: transparent;
}
.portfolio-nav-link:last-child {
  margin-right: 0;
}
.portfolio-nav-link:hover,
.portfolio-nav-link:active {
  color: #ed574f;
}
@media (min-width: 768px) {
  .portfolio-nav-link {
    display: inline;
    margin-right: 40px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .portfolio-nav-link {
    font-size: 28px;
    margin-right: 61px;
  }
}
.portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .portfolio-projects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.portfolio-works {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .portfolio-works {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works {
    margin-bottom: 69px;
  }
}
@media (min-width: 768px) {
  .big-card {
    width: 50%;
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .big-card {
    max-width: 560px;
  }
}
.portfolio-works__img {
  display: block;
  position: relative;
  margin-bottom: 15px;
  background-color: #fbdc4d;
  overflow: hidden;
}
.portfolio-works__img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(251, 220, 77, 0.6);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-works__img:hover:before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-works__img:hover .more-btn {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .portfolio-works__img {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__img {
    margin-bottom: 25px;
  }
}
.more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  border: none;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FFF;
  font-size: 22px;
  font-weight: 700;
  color: #ea736d;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.more-btn:hover {
  color: #FFF;
  background-color: #ea736d;
}
.more-btn:active {
  color: #FFF;
  background-color: #d4423b;
}
.portfolio-works__title {
  display: block;
  margin-bottom: 10px;
}
.portfolio-works__title span:hover,
.portfolio-works__title span:active {
  border-bottom: 1px solid #ea736d;
  color: #ea736d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .portfolio-works__title {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__title {
    margin-bottom: 9px;
  }
}
.portfolio-works__desc {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .portfolio-works__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__desc {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .big-card__title .title-5 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .portfolio-works__info .big-card__desc {
    font-size: 22px;
  }
}
.view-all-works {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.view-all-works:hover {
  color: #59b2ea;
  border-color: #59b2ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.view-all-works:active {
  color: #eb736e;
  border-color: #eb736e;
}
@media (min-width: 1200px) {
  .view-all-works {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-item {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hide-item {
    display: block;
  }
}
.section-work {
  padding-top: 45px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .section-work {
    padding: 85px 0 85px;
  }
}
@media (min-width: 1200px) {
  .section-work {
    padding: 137px 0 101px;
    background-image: url(../img/work-bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.content-work-title {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .content-work-title {
    margin-bottom: 140px;
  }
}
@media (min-width: 1200px) {
  .content-work-title {
    margin-bottom: 154px;
  }
}
.line-bottom-work {
  position: relative;
  z-index: 2;
  font-size: 38px;
}
.line-bottom-work:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 7px;
  background-color: var(--undrln);
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cotnent-column {
  max-width: 1005px;
  margin: 0 auto;
}
.content-work-item {
  position: relative;
  padding-left: 105px;
  height: 230px;
  margin-bottom: 22px;
}
.content-work-item:first-child {
  height: 165px;
}
.content-work-item:after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #e0eef4;
  top: 95px;
  bottom: 0;
  left: 37px;
}
.content-work-item:last-child:after {
  display: none;
}
.content-work-item:first-child:before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #e0eef4;
  top: -80px;
  right: 0;
  height: 60px;
  display: none;
}
.content-work-item:hover {
  cursor: pointer;
}
.content-work-item:hover .line-bottom-title5:after {
  background-color: #ea736d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .content-work-item {
    width: 50%;
    height: 205px;
    padding-top: 22px;
  }
  .content-work-item:nth-child(even) {
    margin-left: auto;
    padding-left: 87px;
  }
  .content-work-item:nth-child(even) .work-icon {
    left: -37px;
  }
  .content-work-item:nth-child(even):after {
    left: -4px;
  }
  .content-work-item:nth-child(odd) {
    text-align: right;
    padding-left: 0;
    padding-right: 76px;
  }
  .content-work-item:nth-child(odd):after {
    left: auto;
    right: 0;
  }
  .content-work-item:nth-child(odd) .work-icon {
    left: auto;
    right: -37px;
  }
  .content-work-item:first-child:before {
    display: block;
  }
}
.work-desc__title {
  margin-bottom: 7px;
}
.work-desc__title .title-5 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .work-desc__title .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .work-desc__title .title-5 {
    font-size: 26px;
  }
}
.line-bottom-title5 {
  position: relative;
  z-index: 2;
}
.line-bottom-title5:after {
  display: none;
  content: "";
  position: absolute;
  height: 6px;
  left: -2px;
  right: -2px;
  bottom: 3px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom-title5:after {
    display: block;
    bottom: 5px;
  }
}
.work-icon {
  width: 74px;
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work-icon svg {
  width: 40px;
  height: 40px;
}
.work-desc__info {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .work-desc__info {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .work-desc__info {
    font-size: 18px;
  }
}
.work-desc__time {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .work-desc__time {
    font-size: 18px;
  }
}
.section-contacts {
  padding: 55px 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-contacts {
    padding: 80px 0 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding: 136px 0 152px;
    background-image: url(../img/contacts-bg-lines.jpg);
    background-position: center;
    background-repeat: repeat;
  }
}
.contacts-title {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts-title {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .contacts-title {
    margin-bottom: 63px;
  }
}
.line-bottom-contacts {
  position: relative;
  z-index: 2;
}
.line-bottom-contacts:after {
  content: "";
  position: absolute;
  height: 12px;
  left: -5px;
  right: -5px;
  bottom: 7px;
  background-color: var(--undrln);
  z-index: -1;
}
@media (min-width: 768px) {
  .line-bottom-contacts:after {
    bottom: 13px;
  }
}
.contacts-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contacts-bg-img {
  display: none;
  width: 450px;
  position: absolute;
  top: 0;
  left: -350px;
}
@media (min-width: 1200px) {
  .contacts-bg-img {
    display: block;
  }
}
.contacts-info {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts-info {
    margin-bottom: 0;
  }
}
.contacts-desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts-desc {
    width: 300px;
    margin-bottom: 44px;
    font-size: 18px;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .contacts-desc {
    font-size: 20px;
    padding-top: 25px;
  }
}
.contacts-desc__list {
  margin-bottom: 48px;
}
.contacts-desc__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .contacts-desc__list-item {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-desc__list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
  }
}
.contacts-desc__list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .contacts-desc__list-title {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.contacts-desc__list-info {
  font-size: 18px;
  font-weight: 500px;
  line-height: 1.2;
  color: #96969d;
}
@media (min-width: 1200px) {
  .contacts-desc__list-info {
    font-size: 20px;
  }
}
.page-link a {
  color: #68b7ea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contacts-form {
  width: 290px;
}
@media (min-width: 768px) {
  .contacts-form {
    width: 340px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    width: 555px;
  }
}
.form-text {
  margin: 0 auto;
  padding: 60px 15px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 28px 35px 0px #c2dbeb;
          box-shadow: 0px 28px 35px 0px #c2dbeb;
}
@media (min-width: 768px) {
  .form-text {
    padding: 65px 25px 40px;
  }
}
@media (min-width: 1200px) {
  .form-text {
    padding: 79px 60px 40px;
    -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
            box-shadow: 0px 28px 100px 0px #c2dbeb;
  }
}
.contact-form__item {
  position: relative;
  margin-bottom: 40px;
}
textarea,
input {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid #eaeaea;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  -webkit-transition: border-color 0.7s;
  transition: border-color 0.7s;
}
textarea:focus,
input:focus {
  border: none;
  border-bottom: 2px solid #ea736d;
}
textarea {
  height: 110px;
  padding: 5px;
  resize: none;
}
.fake-placeholder {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fake-placeholder.active {
  top: -22px;
  font-size: 16px;
  font-weight: 700;
  color: #ed9626;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-form__btn input {
  height: 55px;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--btnBg);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  font-weight: 700;
}
.contact-form__btn input:hover {
  background-color: #ffd200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-form__btn input:active {
  background-color: #e1bc10;
}
@media (min-width: 1200px) {
  .contact-form__btn input {
    width: auto;
    height: 62px;
  }
}
.footer {
  padding: 24px 0 41px;
  background-color: #333333;
}
.footer-title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer-text a {
  color: #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-text a:hover,
.footer-text a:active {
  color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=main.css.map */