* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    color: #000;
}

body.active {
    overflow: hidden;
}

::selection {
    background-color: #fbdc4d;
}

:focus {
    outline: none;
    border: dotted;
    border-color: #ea736d;
}

:root {
    --undrln: #fbdc4d;
    --btnBg: #fbdc4d;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
    backdrop-filter: blur(3px);
}

#overlay.active {
    display: block;
}

#page-nav {
    position: fixed;
    right: 35px;
    top: 45%;
    z-index: 100;
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

#page-nav li {
    width: 14px;
    height: 14px;
    background-color: #fbdc4d;
    border-radius: 50%;
    margin-bottom: 25px;
    transition: 0.5s;
}

#page-nav li a {
    display: block;
    height: 100%;
    
    &:active, &:focus {
        border: none;
    }
}

#page-nav li.active {
    background-color: #000;
}

.fix-menu.active {
    position: fixed;
    height: 80px;
    padding-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.45);
}

#backTop a {
    color: #ea736d;
    position: fixed;
    bottom: 40px;
    right: 60px;
    font-size: 40px;

    &:hover {
        color: #d4423b
    }

    &:focus {
        border: none;
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 768px) {
        max-width: unset;
        padding: 0 30px;
    }
    
    @media (min-width: 1200px) {
        width: 1140px;
        padding: 0;
    }
}

.social-icons {
    display: flex;
}

.social-icons__item {
    display: inline-block;
    margin-right: 27px;
    transition: 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transition: 0.2s;
    }

    &:focus, &:active {
        border: none;
    }
}

.fa-github:hover, .fa-github:active {
    color: #6cc644;
    transition: 0.2s;
}

.fa-telegram:hover, .fa-telegram:active {
    color: #039be5;
    transition: 0.2s;
}

.fa-vk {
    display: block;
    color: #FFF;
}

.fa-facebook:hover, .fa-facebook:active {
    color: #3b5998;
    transition: 0.2s;
}

.vk-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 27px;
    cursor: pointer;

    &:hover, &:active {
        background-color: #3e5a7c;
        transition: 0.2s;
    }
}

.header-social .nav-vk-icon {
    width: 32px;
    height: 32px;
    font-size: 12px;
}

.title-1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 52px;
    }
    
    @media (min-width: 1200px) {
        font-size: 90px;  
    }   
}

.title-2 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    
    @media (min-width: 768px) {
        font-size: 52px;
    }
    
    @media (min-width: 1200px) {
        font-size: 64px;
    }
}

.title-3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 32px;
    }
    
    @media (min-width: 1200px) {
        font-size: 40px;
    }
}

.title-4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 24px;
    }
    
    @media (min-width: 1200px) {
        font-size: 32px;
    }
}

.title-5 {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 24px;
    }
    
    @media (min-width: 1200px) {
        font-size: 26px;
    }
}
