* {
    box-sizing: border-box;
}

::selection {
    background-color: #fbdc4d;
}

:focus {
    outline: none;
    border: dotted;
    border-color: #ea736d;
}

html {
    scroll-behavior: smooth;
}

:root {
    --undrln: #fbdc4d;
    --btnBg: #fbdc4d;
}

html, body {
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    color: #000;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 0 15px;

    @media (min-width: 768px) {
        padding: 0 30px;
    }
    
    @media (min-width: 1200px) {
        width: 1140px;
        margin: 0 auto;
        padding: 0;
    }
}

.social-icons a {
    display: inline-block;
    margin-right: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.fa-github:hover, .fa-github:active {
    color: #6cc644;
}

.fa-telegram:hover, .fa-telegram:active {
    color: #039be5;
}

.fa-vk:hover, .fa-vk:active {
    color: #45668e;
}

.fa-facebook:hover, .fa-facebook:active {
    color: #3b5998;
}

.title-1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 52px;
    }
    
    @media (min-width: 1200px) {
        font-size: 90px;  
    }   
}

.title-2 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    
    @media (min-width: 768px) {
        font-size: 52px;
    }
    
    @media (min-width: 1200px) {
        font-size: 64px;
    }
}

.title-3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 32px;
    }
    
    @media (min-width: 1200px) {
        font-size: 40px;
    }
}

.title-4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 24px;
    }
    
    @media (min-width: 1200px) {
        font-size: 32px;
    }
}

.title-5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: 22px;
    }
    
    @media (min-width: 1200px) {
        font-size: 26px;
    }
}
