.profile-about {
    
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.profile-about-skills {

    @media (min-width: 768px) {
        width: 340px;
    }
    
    @media (min-width: 1200px) {
        width: 650px;
        padding-top: 120px;
        margin-top: -120px;
    }
}

.profile-about-title {
    margin-bottom:30px;
    
    @media (min-width: 1200px) {
        margin-bottom: 36px;
    }
}

.my-skills {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    
    @media (min-width: 1200px) {
        font-size: 24px;
        padding-left: 28px;
        margin-bottom: 34px;
    }          
}

.my-skills-item {
    position: relative;
    padding-bottom: 10px;

    &:before {
        display: none;
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        top: 30%;
        left: -30px;
        background-color: #444444;
    }
    
    @media (min-width: 1200px) {
        padding-bottom: 10px;
        font-size: 24px;
        line-height: 1.2; 

        &:before {
            display: block;
        }
    }
}

.my-works {
    display: none;
    width: 275px;
    height: 64px;
    padding: 15px 39px;
    border-radius: 30px;
    border: none;
    background-color: var(--btnBg);
    transition: 0.3s;

    font-size: 22px;
    font-weight: 700;
    
    &:hover {
        background-color: #ffd200;
        transition: 0.3s;
    }

    &:active {
        background-color: #e1bc10;
    }
    
    @media (min-width: 1200px) {
        display: block;
    }
}

.profile-contacts {

    @media (min-width: 768px) {
        width: 340px;
    }
    
    @media (min-width: 1200px) {
        width: 360px;
    }
}

.profile-contacts-title {
    margin-bottom: 25px;

    @media (min-width: 768px) {
        margin-bottom: 25px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 38px;
    }
}

.profile-contacts-icons {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        margin-bottom: 25px;
    }
}

.profile-contacts-email {
    font-size: 18px;
    font-weight: 400;

    @media (min-width: 768px) {
        font-size: 20px;
    }
    
    @media (min-width: 1200px) {
        font-size: 24px;
    }
}

.profile-contacts-email a {
    border-bottom: 1px solid #000;
    transition: 0.3s;

    &:hover {
        color: #59b2ea;
        border-color: #59b2ea;
        transition: 0.3s;
    }

    &:active {
        color: #eb736e;
        border-color: #eb736e;
    }
}
  