.header-center {
    position: relative;
    z-index: 2;
}

.content {

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    @media (min-width: 1200px) {
        align-items: flex-end;
    }
}

.content-photo {
    position: relative;
    margin-bottom: 50px;
    
    &:after {
        display: none;
        content: "";
        position: absolute;
        top: 35%;
        left: 20%;
        width: 100%;
        height: 100%;
        background-image: linear-gradient( 90deg, rgb(244,248,249) 0%, rgba(244,248,249,0) 100%);
        opacity: 0.5;
        z-index: -1;      
    }

    @media (min-width: 768px) {
        width: 340px;
        padding: 0 25px;
        margin-bottom: 0;
        z-index: 2;

        &:after {
            display: block;
            top: 45px;
            left: 65px;
        }
    }
    
    @media (min-width: 1200px) {
        width: 455px;

        &:after {
            top: 35%;
            left: 20%;
        }
    }
}

.content-info {

    @media (min-width: 768px) {
        width: 340px;
    }
    
    @media (min-width: 1200px) {
        width: 630px;
    }
}

.content-info__title {
    margin-bottom: 25px;

    @media (min-width: 768px) {
        margin-bottom: 25px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.line-bottom {
    position: relative;
    z-index: 2;
    
    &:after {
        content: "";
        position: absolute;
        height: 12px;
        left: -5px;
        right: -5px;
        bottom: 8px;
        background-color: var(--undrln);
        z-index: -1;
    }

    @media (min-width: 768px) {

        &:after {
            bottom: 12px;
        }
    }
    
    @media (min-width: 1200px) {

        &:after {
            bottom: 22px;
        }
    }
}

.content-info__desc {
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(57, 63, 71);
    line-height: 1.5;
    
    @media (min-width: 1200px) {
        font-size: 24px;
    }      
}

.header-buttons {
    display: none;
    
    @media (min-width: 1200px) {
        display: block;
    }
}

.button-meet {
    border-radius: 35px;
    border: none;
    padding: 15px 44px;
    margin-right: 12px;
    background-color: var(--btnBg);

    font-size: 22px;
    font-weight: 700;
    transition: 0.3s;
    
    &:hover {
        background-color: #ffd200;
        transition: 0.3s;
    }

    &:active {
        background-color: #e1bc10;
    }
}

.button-contacts {
    height: 65px;
    border-radius: 35px;
    border: 4px solid rgb(70, 70, 70);
    background-color: transparent;
    padding: 11px 37px;

    font-size: 22px;
    font-weight: 700;  
    color: rgb(70, 70, 70);
    transition: 0.3s; 
    
    &:hover {
        color: #797979;
        border-color: #797979;
        transition: 0.3s;
    }

    &:active {
        color: #181818;
        border-color: #181818;
    }
}

.content-bg-image {
    max-width: 1600px;
    transform: scale(1.8);
    margin-top: -25px;
    margin-bottom: 60px;

    @media (min-width: 425px) {
        margin-top: -55px;
        margin-bottom: 20px;
        transform: scale(1.5);
    }

    @media (min-width: 540px) {
        margin-top: -85px;
        transform: scale(1.2);
    }

    @media (min-width: 768px) {
        margin-top: -95px;
        transform: scale(1);
    }
    
    @media (min-width: 1200px) {
        margin-top: -99px;
        margin-bottom: 18px;
    }
}
