.section-contacts {
    padding: 140px 0 151px;
    background-color: #f4f8f9;
}

.contacts-title {
    text-align: center;
    margin-bottom: 63px;
}

.line-bottom-contacts {
    position: relative;
    z-index: 2;
    
    &:after {
        content: "";
        position: absolute;
        height: 10px;
        left: -5px;
        right: -5px;
        bottom: 13px;
        background-color: var(--undrln);
        z-index: -1;
    }
}

.contacts-row {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.contacts-bg-img {
    width: 555px;
    position: absolute;
    top: -10px;
    left: -255px;
}

.contacts-info {
    width: 555px;
}

.contacts-desc {
    max-width: 505px;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 25px;
    margin-bottom: 42px;     
}

.contacts-desc__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.list-titles {
    width: 165px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.list-titles li {
    padding-bottom: 30px;
}

.list-info {
    width: 360px;
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.2;
    color: rgb(150, 150, 157);  
}

.list-info li {
    padding-bottom: 30px;
}

.list-info li a {
    color: #68b7ea;

    &:hover {
        text-decoration: underline;
    }
}

.contacts-form {
    width: 555px;
}

.form-text {
    width: 511px;
    height: 545px;
    margin: 0 auto;
    padding: 79px 60px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 1);    
}

.contact-form__item {
    position: relative;
    margin-bottom: 55px;
}

textarea, input {
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid #eaeaea;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
    font-weight: 700;     
    outline: none;
    transition: border-color 0.7s;

    &:focus {
        border-color: #ea736d;
    }
}

textarea {
    height: 110px;
    padding: 5px;
    resize: none;
}

.fake-placeholder {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #bcbcbc;
    pointer-events: none;
    transition: 0.3s;
}

.fake-placeholder.active {
    top: -22px;
    font-size: 16px;
    font-weight: 700;   
    color: rgb(237, 150, 38);
    transition: 0.3s;
}

.contact-form__btn input {
    width: auto;
    height: 62px;
    border: none;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--btnBg);
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;

    &:hover {
        background-color: #ffd200;
    }

    &:active {
        background-color: #e1bc10;
    }
} 
