.section-contacts {
    padding: 55px 0;
    background-color: #f4f8f9;

    @media (min-width: 768px) {
        padding: 80px 0 90px;
    }
    
    @media (min-width: 1200px) {
        padding: 136px 0 149px;
        background-image: url(../img/contacts-bg-lines.jpg);
        background-position: center;
        background-repeat: repeat;
    }
}

.contacts-title {
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 63px;
    }
}

.line-bottom-contacts {
    position: relative;
    z-index: 2;
    
    &:after {
        content: "";
        position: absolute;
        height: 12px;
        left: -5px;
        right: -5px;
        bottom: 7px;
        background-color: var(--undrln);
        z-index: -1;
    }

    @media (min-width: 768px) {
        &:after {
            bottom: 11px;
        }
    }

    @media (min-width: 1200px) {
        &:after {
            bottom: 13px;
        }
    }
}

.contacts-row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
        max-width: 810px;
        margin: 0 auto;
        flex-direction: row;
    }

    @media (min-width: 1200px) {
        max-width: unset;
        margin: 0;
    }
}

.contacts-bg-img {
    display: none;
    width: 450px;
    position: absolute;
    top: 0;
    left: -350px;
    
    @media (min-width: 1200px) {
        display: block;
    }
}

.contacts-info {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;

    @media (min-width: 768px) {
        width: 300px;
        margin-bottom: 0;
    }
    
    @media (min-width: 1200px) {
        width: 505px;
    }
}

.contacts-desc {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;

    @media (min-width: 768px) {
        margin-bottom: 44px;
        font-size: 18px;
        font-weight: 400;
    }
    
    @media (min-width: 1200px) {
        font-size: 20px;
        padding-top: 25px;
    }    
}

.contacts-desc__list {
    margin-bottom: 48px;
}

.contacts-desc__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
    
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 28px;
    }
}

.contacts-desc__list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
    
    @media (min-width: 1200px) {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.contacts-desc__list-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(150, 150, 157);
    
    @media (min-width: 1200px) {
        flex-basis: 60%;
        font-size: 20px;
    }
}

.contacts-desc__list-info a {
    border-bottom: 1px solid #68b7ea;
    color: #68b7ea;

    &:hover {
        color: #73d0fc;
        border-bottom-color: #73d0fc;
    }
}

.contacts-form {
    max-width: 400px;

    @media (min-width: 768px) {
        max-width: unset;
        width: 340px;
    }
    
    @media (min-width: 1200px) {
        width: 533px;
        padding-right: 17px;
    }
}
