.section-contacts {
    padding: 55px 0;
    background-color: #f4f8f9;

    @media (min-width: 768px) {
        padding: 80px 0 90px;
    }
    
    @media (min-width: 1200px) {
        padding: 136px 0 149px;
        background-image: url(../img/contacts-bg-lines.jpg);
        background-position: center;
        background-repeat: repeat;
    }
}

.contacts-title {
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 63px;
    }
}

.line-bottom-contacts {
    position: relative;
    z-index: 2;
    
    &:after {
        content: "";
        position: absolute;
        height: 12px;
        left: -5px;
        right: -5px;
        bottom: 7px;
        background-color: var(--undrln);
        z-index: -1;
    }

    @media (min-width: 768px) {
        &:after {
            bottom: 13px;
        }
    }
    
    @media (min-width: 1200px) {
    
    }
}

.contacts-row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
        flex-direction: row;
    }
    
    @media (min-width: 1200px) {
    
    }
}

.contacts-bg-img {
    display: none;
    width: 450px;
    position: absolute;
    top: 0;
    left: -350px;
    
    @media (min-width: 1200px) {
        display: block;
    }
}

.contacts-info {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    
    @media (min-width: 1200px) {
        width: 505px;
    }
}

.contacts-desc {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;

    @media (min-width: 768px) {
        // width: 300px;
        margin-bottom: 44px;
        font-size: 18px;
        font-weight: 400;
    }
    
    @media (min-width: 1200px) {
        font-size: 20px;
        padding-top: 25px;
    }    
}

.contacts-desc__list {
    margin-bottom: 48px;
}

.contacts-desc__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
    
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 28px;
    }
}

.contacts-desc__list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px;
    
    @media (min-width: 1200px) {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.contacts-desc__list-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(150, 150, 157);
    
    @media (min-width: 1200px) {
        flex-basis: 60%;
        font-size: 20px;
    }
}

.page-link a {
    color: #68b7ea;
    transition: 0.3s;
}

.contacts-form {
    width: 290px;

    @media (min-width: 768px) {
        width: 340px;
    }
    
    @media (min-width: 1200px) {
        width: 533px;
        padding-right: 17px;
    }
}

.form-text {
    margin: 0 auto;
    padding: 60px 15px 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 28px 35px 0px rgba(194, 219, 235, 1);
    
    @media (min-width: 768px) {
        padding: 65px 25px 40px;
    }
    
    @media (min-width: 1200px) {
        padding: 80px 60px 45px;
        box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 1);
    }
}

.contact-form__item {
    position: relative;
    margin-bottom: 54px;
}

textarea, input {
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid #eaeaea;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 20px;
    font-weight: 700;     
    outline: none;
    transition: border-color 0.7s;

    &:focus {
        border: none;
        border-bottom: 2px solid #ea736d;
    }
}

textarea {
    height: 110px;
    padding: 5px;
    resize: none;
}

.fake-placeholder {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #bcbcbc;
    pointer-events: none;
    transition: 0.3s;
}

.fake-placeholder.active {
    top: -22px;
    font-size: 16px;
    font-weight: 700;   
    color: rgb(237, 150, 38);
    transition: 0.3s;
}

.contact-form__btn input {
    height: 55px;
    border: none;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--btnBg);
    cursor: pointer;
    transition: 0.3s;

    font-size: 22px;
    font-weight: 700;

    &:hover {
        background-color: #ffd200;
        transition: 0.3s;
    }

    &:active {
        background-color: #e1bc10;
    }
    
    @media (min-width: 1200px) {
        width: auto;
        height: 62px;
    }
} 
