.content-work {
    width: 1005px;
    margin: 0 auto;
    padding: 150px 0;
}

.cotnent-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-work-item {
    
}

.work-icon {
    width: 75px;
    height: 75px;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}

.work-img {
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}