.section-work {
    padding-top: 45px;
    background-color: #fff;
   

    @media (min-width: 768px) {
        padding: 85px 0 85px;
    }
    
    @media (min-width: 1200px) {
        padding: 137px 0 101px;
        background-image: url(../img/work-bg-lines.jpg);
        background-position: center;
        background-repeat: repeat;
    }
}

.content-work-title {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: 768px) {
        margin-bottom: 140px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 154px;
    }
}

.line-bottom-work {
    position: relative;
    z-index: 2;
    font-size: 38px;
    
    &:after {
        content: "";
        position: absolute;
        height: 12px;
        left: -5px;
        right: -5px;
        bottom: 7px;
        background-color: var(--undrln);
        z-index: -1;
        transition: 0.3s;
    }
}

.cotnent-column {
    max-width: 1005px;
    margin: 0 auto;
}

.content-work-item {
    position: relative;
    padding-left: 105px;
    height: 230px;
    margin-bottom: 22px;

    &:first-child {
        height: 165px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 4px;
        background-color: #e0eef4;
        top: 95px;
        bottom: 0;
        left: 37px;
    }
    
    &:last-child:after {
        display: none;
    }

    &:first-child:before {
        content: "";
        position: absolute;
        width: 4px;
        background-color: #e0eef4;
        top: -80px;
        right: 0;
        height: 60px;
        display: none;
    }

    &:hover {
        cursor: pointer;
        
        .line-bottom-title5:after {
            background-color: #ea736d;
            transition: 0.3s;
        }
    }

    @media (min-width: 768px) {
        width: 50%;
        height: 205px;
        padding-top: 22px;

        &:nth-child(even) {
            margin-left: auto;
            padding-left: 87px;
        }

        &:nth-child(even) .work-icon {
            left: -37px;
        }

        &:nth-child(even):after {
            left: -4px;
        }

        &:nth-child(odd) {
            text-align: right;
            padding-left: 0;
            padding-right: 76px;
        }

        &:nth-child(odd):after {
            left: auto;
            right: 0;
        }

        &:nth-child(odd) .work-icon {
            left: auto;
            right: -37px;
        }

        &:first-child:before {
            display: block;
        }
    }
    
    @media (min-width: 1200px) {
    
    }
}

.work-desc__title {
    margin-bottom: 7px;
}

.work-desc__title .title-5 {
    font-size: 20px;

    @media (min-width: 768px) {
        font-size: 24px;
    }
    
    @media (min-width: 1200px) {
        font-size: 26px;
    }
}

.line-bottom-title5 {
    position: relative;
    z-index: 2;
    
    &:after {
        display: none;
        content: "";
        position: absolute;
        height: 6px;
        left: -2px;
        right: -2px;
        bottom: 3px;
        background-color: var(--undrln);
        z-index: -1;
    }
    
    @media (min-width: 1200px) {

        &:after {
            display: block;
            bottom: 5px;
        }
    }
}

.work-icon {
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;
}


.work-icon svg {
    width: 40px;
    height: 40px;
}

.work-desc__info {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
    
    @media (min-width: 1200px) {
        font-size: 18px;
    }
}

.work-desc__time {
    font-size: 14px;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 18px;
    }
}
