.section-portfolio {
    padding: 40px 0 90px;
    background-color: #f4f8f9;

    @media (min-width: 768px) {
        padding: 80px 0 75px;
    }
    
    @media (min-width: 1200px) {
        padding: 108px 0 57px;
    }
}

.portfolio-title {
    margin-bottom: 35px;

    @media (min-width: 768px) {
        margin-bottom: 45px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 58px;
    }
}

.line-bottom-portfolio {
    position: relative;
    z-index: 2;
    
    &:after {
        content: "";
        position: absolute;
        height: 12px;
        left: -5px;
        right: -5px;
        bottom: 7px;
        background-color: var(--undrln);
        z-index: -1;
    }

    @media (min-width: 768px) {

        &:after {
            bottom: 11px;
        }
    }
    
    @media (min-width: 1200px) {

        &:after {
            bottom: 14px;
        }
    }
}

.portfolio-nav {
    display: none;

    @media (min-width: 768px) {
        display: block;
        margin-bottom: 40px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 47px;
    }
}

.portfolio-nav-link {
    display: none;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: rgb(143, 165, 174);
    border: none;
    background-color: transparent;
    
    &:last-child {
        margin-right: 0;
    }

    &:hover, &:active {
        color: #ed574f;
    }

    @media (min-width: 768px) {
        display: inline;
        margin-right: 40px;
        font-size: 24px;
    }
    
    @media (min-width: 1200px) {
        font-size: 28px;
        margin-right: 77px;
    }
}

.portfolio-projects {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.portfolio-works {
    margin-bottom: 35px;

    @media (min-width:768px) {
        max-width: 340px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 69px;
    }
}

.big-card {

    @media (min-width: 768px) {
        width: 50%;
        max-width: 340px;
    }
    
    @media (min-width: 1200px) {
        max-width: 560px;
    }
} 

.portfolio-works__img {
    display: block;
    position: relative;
    margin-bottom: 15px;
    background-color: #fbdc4d;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(251, 220, 77, 0.6);
        transform: translateY(100%);
        transition: 0.3s;
    }

    &:hover:before {
        transform: translateY(0%);
        transition: 0.3s;
    }

    &:hover .more-btn {
        opacity: 1;
        transition: 0.5s;
    }

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 25px;
    }
}

.more-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50px;
    border: none;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFF;

    font-size: 22px;
    font-weight: 700;
    color: rgb(234, 115, 109);
    opacity: 0;
    transition: 0.3s;

    &:hover {
        color: #FFF;
        background-color: #ea736d;
    }

    &:active {
        color: #FFF;
        background-color: #d4423b;
    }
}

.portfolio-works__title {
    display: block;
    margin-bottom: 10px;

    & span:hover, & span:active {
        border-bottom: 1px solid #ea736d;
        color: #ea736d;
        transition: 0.3s;
        cursor: pointer;
    }

    @media (min-width: 768px) {
        margin-bottom: 10px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.portfolio-works__desc {
    font-size: 16px;
    font-weight: 300;

    @media (min-width: 768px) {
        font-size: 18px;
    }
    
    @media (min-width: 1200px) {
        font-size: 20px;
    }
}

.big-card__title .title-5 {

    @media (min-width: 1200px) {
        font-size: 32px;
    }
}

.portfolio-works__info .big-card__desc {

    @media (min-width: 1200px) {
        font-size: 22px;
    }
}

.view-all-works {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #000;
    transition: 0.3s;

    &:hover {
        color: #59b2ea;
        border-color: #59b2ea;
        transition: 0.3s;
    }

    &:active {
        color: #eb736e;
        border-color: #eb736e;
    }
    
    @media (min-width: 1200px) {
        display: none;
    }
}

.hide-item {

    @media (min-width: 768px) {
        display: none;
    }
    
    @media (min-width: 1200px) {
        display: block;
    }
}
